.question-bar {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    justify-content: center;
  }
  
  input[type='text'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 300px;
    font-size: 16px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .Questions {
    width: 100%;
  }
  /* h2 li ul {
    display: block;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }
  
  @keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  } */
  